<!DOCTYPE html>


	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/js/jquery.min.js"></script> <!-- Like this! -->
		</head>
		<body>
	    		<ul id="top-menu">
	        		<li class="active"><a href="#">Início</a></li>
		        	<li><a href="#about">Sobre Nós</a></li>
<!-- 	        		<li><a href="/cv">CV</a></li> -->
	        		<li><a href="#blog">Blog</a></li>
<!-- 				<li><a href="/assets/mapa-arvores-ourinhos__v1.html">(Mapa protótipo)</a></li> -->
	    		</ul>
			
			<a id="about">About</a>
			
			<a id="blog">Blog</a>

			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gustavopmenezes@usp.br">email</a></li>
	        		<li><a href="https://github.com/arvores">github.com/arvores</a></li>
				</ul>
			</footer>
		</body>
	</html>
